.memaSpan{
    margin-left: 0.8rem;
}

.clrBtn{
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}

.doneBtn{
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}
.doneItems:hover{
    background-color: #f8f9fa !important;
    cursor: pointer;
}
/* .eks , i:hover{
    color: rgb(206, 32, 32) !important;
} */
