:root{
  --todoBg2: #f8f9fa;
}

[data-theme="dark"]{
  --body_background: #282c34;
  --font_color: white;
  --todoBg: #2f3541;
  --todoBg2: #2f3541;
  --plcHolder: #6f7175;
  /* --inputItemBg: #282c34; */
}

body{
  background-color: var(--body_background) !important;
  color: var(--font_color) !important;
}

.todoBox{
  background-color: var(--todoBg) !important;
}

.inputItem{
  background-color: var(--body_background) !important;
  color: var(--font_color) !important;
}

::placeholder {
  color: var(--plcHolder) !important;
  opacity: 1 !important; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: var(--plcHolder) !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: var(--plcHolder) !important;
}

.taskItems{
  background-color: var(--body_background) !important;
  color: var(--font_color) !important;
}

.taskItems2{
  background-color: var(--todoBg2) !important;
}
