:root{
  --todoBg2: #f8f9fa;
}

[data-theme="dark"]{
  --body_background: #282c34;
  --font_color: white;
  --todoBg: #2f3541;
  --todoBg2: #2f3541;
  --plcHolder: #6f7175;
  --btnBorder: 0px;
}

html{
  height: 100% !important;
  box-sizing: border-box !important;
}

body{
  background-color: var(--body_background) !important;
  color: var(--font_color) !important;
  transition: all 0.3s ease-in-out !important;
  position: relative !important;
  min-height: 95% !important;
  padding-bottom: 1.7rem !important;
  box-sizing: inherit !important;
}

footer{
  color: rgb(211, 211, 211);
  text-align: center;
  position: absolute !important;
  right: 0;
  left: 0;
  bottom: 0;
}

.todoBox{
  background-color: var(--todoBg) !important;
}

.inputItem{
  background-color: var(--body_background) !important;
  color: var(--font_color) !important;
  border: var(--btnBorder) !important;
}

.inputItem2{
  background-color: var(--todoBg2) !important;
  color: var(--font_color) !important;
  border: var(--btnBorder) !important;
}

::placeholder {
  color: var(--plcHolder) !important;
  opacity: 1 !important; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: var(--plcHolder) !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: var(--plcHolder) !important;
}

.taskItems{
  background-color: var(--body_background) !important;
  color: var(--font_color) !important;
}

.taskItems2{
  background-color: var(--todoBg2) !important;
  color: var(--font_color) !important;
}

.taskItemBtn1{
  background-color: var(--todoBg2) !important;
  color: var(--font_color) !important;
  border: var(--btnBorder) !important;
}

.taskItemBtn2{
  background-color: var(--body_background) !important;
  color: var(--font_color) !important;
  border: var(--btnBorder) !important;
}

.clrDoneBtn{
  background-color: var(--body_background) !important;
  color: rgb(233, 227, 227) !important;
  border: var(--btnBorder) !important;
}

.clrDoneBtn:hover{
  background-color: #202225 !important;
}

.modalBg{
  background-color: var(--body_background) !important;
}

.modalBg2{
  background-color: var(--todoBg) !important;
  color: var(--font_color) !important;
}

.bgLight{
  background-color: var(--body_background) !important;
}

.hoverMe:hover{
  background-color: var(--body_background) !important;
  cursor: pointer !important;
}

.togCursor{
  cursor: pointer !important;
}

.bi-moon-fill, .bi-brightness-low-fill{
  transition: all 0.5s ease-in-out !important;
}
